{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
    <h1>{{ title }}</h1>
    <ul class="game-grid">
        {% for game in games %}
            <li class="game-item">
                <p class="game-number">#{{ loop.index }}</p>
                <a href="{{ game.url }}" target="_blank" rel="noopener noreferrer">
                    <img src="{{ game.image }}" alt="{{ game.name }}">
                    <p>{{ game.name }}</p>
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
